/* style.css */

.flag {
    background-image: url('https://avatars.yandex.net/get-games/2977039/2a00000181c98696a772445a8f81e669636c/pjpg128x128'); /* Замените 'path/to/flag/image.png' на путь к вашему изображению флага */
    background-size: contain;
    background-repeat: no-repeat;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Outfit', sans-serif;
    background: lightgray;
    height: 100vh;
    color: #000;
}

/* Genral */
.container {
    padding: 0 8.4rem;
}
/* Nav */
header {
    box-shadow: 0 4px 30px rgba(0, 0, 0, .2);
    background: darkgray;
    position: sticky;
    top: 0;
    z-index: 1;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}


.main{
    margin: 50px;
}

#buttonContainer {

}

#buttonContainer button {
    font-weight: 800;
    width: 50px;
    height: 50px;
}
