.flag {
    background-image: url('https://avatars.yandex.net/get-games/2977039/2a00000181c98696a772445a8f81e669636c/pjpg128x128');
    background-size: contain;
    background-repeat: no-repeat;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Outfit', sans-serif;
    background: lightgray;
    height: 100vh;
    color: #000;
}

/* Genral */
.container {
    padding: 0 8.4rem;
}
/* Nav */
header {
    box-shadow: 0 4px 30px rgba(0, 0, 0, .2);
    background: darkgray;
    position: sticky;
    top: 0;
    z-index: 1;
}

.page-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
}

.page button {
    display: inline-block;
    box-sizing: border-box;
    padding: 0 25px;
    outline: none;
    border: 1px solid #444;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-weight: 600;
    color: #444;
    background-color: transparent;
    box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
    cursor: pointer;
    touch-action: manipulation;
    vertical-align: top;
    transition: box-shadow 0.2s;
    margin: 5px;
}
.page input {
    outline: none;
    height: 26.8px;
    margin: 5px;
}

.main{
    margin: 50px;
    display: flex;
    justify-content: center;
}

#buttonContainer {

}

#buttonContainer button {
    font-weight: 800;
    width: 50px;
    height: 50px;
}

#field {
     display: flex;
     justify-content: center;
 }